// 默认主题
$--founder-default-color:#e87b31; //行业属性主色
//以下为各色号
$--founder--color-50:#fdf2ea;
$--founder--color-100:#fae5d6;
$--founder--color-200:#f6caad;
$--founder--color-300:#f1b083;
$--founder--color-400:#ed955a;
$--founder--color-600:#d9722e;
$--founder--color-700:#cc6b2b;
$--founder--color-800:#bf6528;
$--founder--color-900:#b35e25;
$--founder--color-A100:#fcd5bb;
$--founder--color-A200:#fab98e;
$--founder--color-A400:#e69d6c;
$--founder--color-A700:#ba7d54;