// 下城区主题
$--founder-default-color:#3CACBB; //行业属性主色
$--founder--color-default: $--founder-default-color;
//以下为各色号
$--founder--color-50:#EAF7F8;
$--founder--color-100:#D6EEF1;
$--founder--color-200:#AFDEE4;
$--founder--color-300:#88cdd6;
$--founder--color-400:#61bdc9;
$--founder--color-600:#379fad;
$--founder--color-700:#3394a1;
$--founder--color-800:#2f8894;
$--founder--color-900:#2c7c87;
$--founder--color-A100:#bcf5fc;
$--founder--color-A200:#90edfa;
$--founder--color-A400:#6fd7e6;
$--founder--color-A700:#56aeba;